<%- include('head'); -%>
<main>
  <div class="jumbotron">
      <p class="lead"><i class="fa fa-user" aria-hidden="true"></i>
        Facebook User Info</p>
      <hr class="my-4">
      <p>Id: <%= id  %></p>
      <p>First Name: <%= first_name %></p>
      <p>Last Name: <%= last_name %></p>
      <img src="<%= picture %>" alt="Picture">
  </div>
</main>
<%- include('foot'); -%>
